.flex-box {
  display: flex;
}

.body {
  width: 320px;
  height: 4910px;
  border: solid;
}

.rectangle {
  height: 2px;
  width: 20px;
  background-color: #C4C4C4;
  margin: 4px 0;
}

.menu {
  right: auto;
}

#yellow-triangle {
  position: absolute;
  width: 74px;
  height: 74px;
  right: 246px;
  top: 0;
  background: linear-gradient(0deg, #FEC25A, #FEC25A), url('../img/yellow-triangle.svg'), #98DEDE;
  background-blend-mode: normal, overlay, normal;
}

#red-square {
  position: absolute;
  width: 74px;
  height: 74px;
  right: 209px;
  top: 0px;
  background: linear-gradient(0deg, #E35461, #E35461), url('../img/red-square.svg'), #E45865;
  background-blend-mode: normal, overlay, normal;
}