.flex-box {
  display: flex;
}

.body {
  width: 320px;
  height: 4910px;
  border: solid;
}

.rectangle {
  height: 2px;
  width: 20px;
  background-color: #c4c4c4;
  margin: 4px 0;
}

.menu {
  right: auto;
}

#yellow-triangle {
  position: absolute;
  width: 74px;
  height: 74px;
  right: 246px;
  top: 0;
  background: linear-gradient(0deg, #fec25a, #fec25a), url('../img/yellow-triangle.svg'), #98dede;
  background-blend-mode: normal, overlay, normal;
}

#red-square {
  position: absolute;
  width: 74px;
  height: 74px;
  right: 209px;
  top: 0;
  background: linear-gradient(0deg, #e35461, #e35461), url('../img/red-square.svg'), #e45865;
  background-blend-mode: normal, overlay, normal;
}
